@{
    ViewData["Title"] = "Administración del Espacio de Trabajo";
}

<h2>SELECTOR DE ESPACIOS DE TRABAJO</h2>
<h1>Administración del Espacio de Trabajo</h1>

<p>Usuario con Rol Administrador de Espacio de Trabajo (Sólo aplica a la modalidad ANA On-Premise)</p>