@{
    ViewData["Title"] = "Applicacion Web Audit category";
}

<h2>@ViewData["Title"]</h2>
    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="AuditType" asp-action="AppWebAuthenticationTesting">Authentication Testing (/AuditType/AuditCategory/Test/5b94a78c-69b6-ca70-1ca1-a06650ff629b/9d5c321f-8260-57de-33b6-f8a9c7825eeb)</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="AuditType" asp-action="ChannelAndPathErrors">Channel and Path Errors (/AuditType/AuditCategory/Test/5b94a78c-69b6-ca70-1ca1-a06650ff629b/be36f2aa-ccb4-a65a-18b5-26d78ec33810)</a>
        </li>
    </ul>