@{
    ViewData["Title"] = "Administración del Espacio de Trabajo";
}

    <h2>Audit Type</h2>

    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="AuditType" asp-action="AppWebCategory">Aplicación Web (/AuditType/AuditCategory/5b94a78c-69b6-ca70-1ca1-a06650ff629b)</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="AuditType" asp-action="AuditPuestoTrabajo">Auditoria Puesto de Trabajo (/AuditType/AuditCategory/1ea26852-d0dd-7acf-7464-6b423d3ffe96)</a>
        </li>
    </ul>
